/* #instancePage{
    display: flex;
}

#addPlayers{
    display: flex;
    justify-content: center;
}

#activePlayers{
    display: flex;
    justify-content: flex-end;
} */

.fullPage{
    display: flex;
    justify-content: space-around;
}